[submodule "lib/jsnap"]
	path = lib/jsnap
	url = https://github.com/webbiesdk/jsnap.git
[submodule "lib/ts-type-reader"]
	path = lib/ts-type-reader
	url = https://github.com/cs-au-dk/ts-spec-reader.git
