[submodule "lib/tscheck"]
	path = lib/tscheck
	url = https://github.com/asgerf/tscheck.git
[submodule "lib/ts-type-reader"]
	path = lib/ts-type-reader
	url = https://github.com/esbena/ts-type-reader.git
